<% if current_user %>
  <h1><%= current_user.username %>'s Movie Night</h1>
  <h3><a href="/users/<%= current_user.id %>/movies">Home</a></h3>

  <h1>Results</h1>

  <%= @matched_movies.length %>
  <br><br>
  <%= @matched_movies %>





<% else %>
  <h3><a href="/">Login</a></h3>
<% end %>
