<h1>Log In</h1>


<form action="/login" method= "post">
  <label for="email_input">Email:</label>
  <input id="email_input" name="user[email]" type="text" value="<%= @email.try(:email) %>">
  <br>
  <label for="password_input">Password:</label>
  <input id="password_input" name="user[password]" type="password" value="<%= @password.try(:password) %>">
  <br>
  <input type = "submit" value = "Log In">
</form>

<% if @errors %>
  <p class="error"><%= @errors %></p>
<% end %>
